@import "src/layout/layout-util";

mat-form-field {
  width: 100%;
}

.danger-btn {
  background-color: transparent;
  color: var(--red);
  outline: var(--red) solid 2px;
  margin: 1.5em;
  // font-size: 12px;
  // padding: 5px 10px;

  &:hover {
    background-color: var(--red);
    color: var(--white);
  }
}

.action-button-container {
  margin-top: 25px;

  @include onSmallWidth {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}
