$header-size: 56px;
$margin: 15px;

#idea-select {
  z-index: 2;
  width: 90vw;
  max-width: 10rem;
  left: 50%;
  top: 88%;
  transform: translate(-50%, 0);
  background: transparent;
  border-radius: 5px;
  outline: 2px solid var(--primary);
  outline-offset: 1.0em;
}

mat-drawer,
.mat-drawer {
  background-color: var(--background);

  @media (max-width: 450px) {
    width: 100vw;
  }

}

ars-fill {
  width: calc(100% - #{2 * $margin});
  height: calc(100% - #{2 * $margin});
  margin: $margin;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  position: fixed;
}

mat-drawer-content {
  overflow: hidden;
  height: 100%;
}

.hidden {
  display: none !important;
}

app-tag-cloud-pop-up {
  width: max-content;
  height: max-content;
}

::ng-deep .spacyTagCloud span {
  user-select: none !important;
}

::ng-deep .spacyTagCloud span:hover {
  cursor: pointer;
}

.start_introduction {
  position: fixed;
  left: 35px;
  bottom: 35px;
  background-color: var(--secondary);
  color: var(--on-secondary);
  transform: scale(1.4);
  transition: all 0.1s ease-in-out;
  z-index: 2;

  &:hover {
    background-color: transparent;
    color: var(--secondary);
    outline: var(--secondary) solid 2px;
  }
}

.fab_add_comment {
  position: fixed;
  right: 35px;
  bottom: 35px;
  background-color: var(--primary);
  color: var(--on-primary);
  transform: scale(1.4);
  transition: all 0.5s ease-in-out;
  z-index: 2;

  &:hover {
    background-color: transparent;
    color: var(--primary);
    outline: var(--primary) solid 2px;
  }

  &.center_screen {
    right: calc(50% - 20px);
    bottom: calc(50% - 20px);
  }

  p {
    position: absolute;
    transform: translate(calc(-50% + 12px), 0) scale(calc(1 / 1.4));
  }
}

.tag-cloud-brainstorming-question {
  position: fixed;
  top: 60px;
  left: 20px;
  z-index: 2;
  color: var(--primary) !important;
  font-weight: bold;
  font-style: var(--tag-cloud-font-style, normal);
  font-family: var(--tag-cloud-font-family, 'sans-serif');
  font-size: 2.0em !important;
  line-height: unset;
  padding-right: 15px;
  hyphens: unset;
  transition: inset 0.5s ease;

  &.active {
    top: 70px;
  }
}

/* abril-fatface-regular - latin-ext */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('/assets/fonts/abril-fatface-v19-latin-ext-regular.woff2') format('woff2'),
  url('/assets/fonts/abril-fatface-v19-latin-ext-regular.woff') format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* abril-fatface-regular - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('/assets/fonts/abril-fatface-v19-latin-regular.woff2') format('woff2'),
  url('/assets/fonts/abril-fatface-v19-latin-regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* dancing-script-regular - vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('/assets/fonts/dancing-script-v24-vietnamese-regular.woff2') format('woff2'),
  url('/assets/fonts/dancing-script-v24-vietnamese-regular.woff') format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* dancing-script-regular - latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('/assets/fonts/dancing-script-v24-latin-ext-regular.woff2') format('woff2'),
  url('/assets/fonts/dancing-script-v24-latin-ext-regular.woff') format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* dancing-script-regular - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('/assets/fonts/dancing-script-v24-latin-regular.woff2') format('woff2'),
  url('/assets/fonts/dancing-script-v24-latin-regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* indie-flower-regular - latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('/assets/fonts/indie-flower-v17-latin-regular.woff2') format('woff2'),
  url('/assets/fonts/indie-flower-v17-latin-regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* permanent-marker-regular - latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('/assets/fonts/permanent-marker-v16-latin-regular.woff2') format('woff2'),
  url('/assets/fonts/permanent-marker-v16-latin-regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
